@media only screen and (min-device-width : 300px) and (max-device-width : 350px) {
    .media-300-350-title {
        font-family: 'Courier New', Courier, monospace;
        font-size: 19px;
        font-weight: 700;
        letter-spacing: 2px;
    
    }
}