body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

.bg-color-person {    
  background-color: #24292F;
}

.border-red{
  border: 5px solid whitesmoke;  
  height: 88vh;
}

.heignt-total{
  height: 87vh;
}
.border-blue{
  border: 3px solid blue; 
  
}


.border-green{
  border: 3px solid green 
  
}